:root {
  --white-color: #fff;

  --black-color: #161823;

  --grey-color: #c1c1c1;
  --red-color: #fe2c55;

  --sans-serif-font: "Roboto", sans-serif;
  --big-font: 3rem;
  --normal-font: 1rem;
}
* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  font-family: var(--sans-serif-font);
}

.fa-chevron-up {
  font-size: var(--big-font);
}

.logo {
  color: var(--white-color);
  font-family: var(--sans-serif-font);
  font-size: 3em;
  animation: animate 1.5s linear infinite;
}
.logo-bird {
  color: var(--white-color);
  font-size: 3em;
  animation: animateTwo 1.5s linear infinite;
}
.logline {
  font-size: var(--normal-font);
}
@keyframes animateTwo {
  0%,
  100% {
    text-shadow: -4.5px -4.5px 0 #0ff, 4.5px 4.5px 0 #f00;
  }
  25% {
    /* font-weight: 700;
    font-style: normal; */

    text-shadow: 4.5px 4.5px 0 #0ff, -4.5px -4.5px 0 #f00;
  }
}

@keyframes animate {
  0%,
  100% {
    text-shadow: -4.5px -4.5px 0 #0ff, 4.5px 4.5px 0 #f00;
  }
  25% {
    font-family: "Courier New", serif;

    /* font-weight: 700;
    font-style: normal; */

    color: #55acee;
    text-shadow: 4.5px 4.5px 0 #0ff, -4.5px -4.5px 0 #f00;
  }
}

p,
i {
  text-shadow: black 0px 0px 10px;
}

body {
  color: var(--white-color);
  font-family: var(--sans-serif-font);
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: var(--black-color);
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
}
#modalURL {
  background-color: var(--red-color);
  margin: var(--normal-font);
  padding: var(--normal-font);
  color: white;
  text-shadow: none;
  border-radius: 4px;
}
#modalURL:hover {
  background-color: var(--black-color);
}
#postName {
  color: var(--grey-color);
  font-size: 0.8rem;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.intro-screen {
  flex-direction: column;
  background-size: cover;
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  background-color: var(--black-color);
  height: 100vh;
  padding: 0;
  margin: 0;
}
.second-slide {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://media.giphy.com/media/47Ja8ylYeaoyAXVcSA/giphy.gif");
}
.welcome-screen {
  background: var(--white-color);
  color: var(--black-color);
}

.intro-screen p {
  font-family: var(--sans-serif-font);
}

.swipe-up-screen {
  flex-direction: column;
  background-image: url("https://media.giphy.com/media/47Ja8ylYeaoyAXVcSA/giphy.gif");
  background-size: cover;
}

.swipe-up-constainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#overlay {
  position: absolute;
  right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--white-color);
  text-align: center;
  font-size: 2rem;
  width: 10%;
  height: 80%;
  padding: 10px 0;
  z-index: 2147483647;
}
.mute-btn {
  border: none;
  background-color: transparent;
  color: white;
  opacity: 85%;
}

.banner {
  top: 2%;
  margin: auto;
  position: absolute;
  z-index: 2147483647;
  color: var(--grey-color);
}
.bold-span {
  font-weight: bold;
  opacity: 85%;
}

.avatar {
  width: 4rem;
  height: 4rem;

  border-radius: 50%;
  border: 0.2rem solid var(--white-color);
}
#overlay i,
a {
  margin-bottom: 0px;
  font-size: var(--big-font);
  opacity: 68%;
}

a {
  color: var(--white-color);
}
a:hover {
  color: var(--red-color);
}
#overlay p {
  font-size: 0.9rem;
  opacity: 90%;
}
.xnumber {
  margin-top: 0;
  font-size: var(--normal-font);
}

#overlay-text {
  position: absolute;
  max-width: 60vw;
  left: 5vw;
  bottom: 8vh;
  z-index: 2147483647;
  display: flex;
  text-align: left;
  margin-bottom: 10%;
  flex-direction: column;
}
#overlay-text p {
  font-size: var(--normal-font);
}
.description {
  opacity: 85%;
}

.username {
  font-weight: bold;
}
video {
  z-index: 1;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* modal css */

#modal1 {
  height: 90%;
  max-height: 90%;
  margin: 0;
  border: 2px solid var(--black-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--black-color);
  text-shadow: none;
  text-align: center;
}
#modal1 h3 {
  margin: var(--normal-font);
  font-size: 1.5rem;
  font-weight: bold;
}
#modal1 h4 {
  margin: var(--normal-font);
  font-size: 1.2rem;
}
#modal1 i {
  text-shadow: none;
}
#modal1 iframe {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.modalCreator {
  display: flex;
  justify-content: center;
  border: 2px solid var(--grey-color);
  border-radius: 2px;
  padding: 5px;
  margin: 10px;
}
.twitter-tweet {
  margin: 0 auto;
}

/* .videoDisplayNone {
  display: none;
}
.videoDisplay {
  display: block;
} */
.nag-slide {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-size: cover;
  position: center;
  background-image: url("https://media.giphy.com/media/cJ5OtsMFdudpSx6XAO/giphy.gif");
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.mute-class {
  color: var(--red-color);
  text-decoration: line-through;
}
@media screen and (min-width: 850px) {
  .swiper-container {
    width: 60%;
  }
}
